body {
	margin: 0;
	padding: 0;
	width: 99%;
	text-align: left;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif,  Arial, Tahoma;
	font-size: 85%;
	background-color: #006600;
}


@-viewport {
width: device-width;
}

/* p { 
line-height: 1.3em;}

p:first-letter { text-indent: 1.5em; }
*/

p::first-letter { 
/*color: #434700;*/
font-size: 110%;
margin-left: 1.1em;
padding-right: 1px;
}

p {margin-bottom: 20px;}

#border777 { 
font-weight: bold;
font-size: 15px;
line-height: 90%; 

margin-bottom: -12px;
margin-top: -1px; 

border-color: #c1033d;
border-width: 1px;
background-clip: border-box;
background-origin: padding-box;
border-bottom-style: groove;
border-left-color: #c1033d;
border-left-style: groove;
border-right-color: #c1033dA;
border-right-style: groove;
border-top-color: #c1033d;
border-top-style: groove;


margin-left: 13px;
margin-right: 13px;
padding-left: 7px;
padding-right: 7px;
  position: relative;
}


#header {
	width: 100%;
	padding-left: 1px;
	padding-right: 2px;
	height: 82px;
    text-align: right; 
}

#nav_txt {
	padding-top: 3px;
	margin-left: 1px;	
	text-align: Right;
	height: 20px;
	font-weight: bold;
	font-size: 12px;
	border-top: 3px solid #003300;
	border-bottom: 2px solid #003300;
}
#nav_txt li, .block li {
	display: inline;
}
#nav_txt ul, .block ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav_txt ul li a {
	font-weight: bold;
	text-decoration: none;
	color: white;
	border-bottom: 0;
	padding: 5px;
}
#nav_txt ul li a:visited {
	color: #E0D4D4;
}
#nav_txt ul li a:hover {
	color: white;
	background-color: #00AA00;
}
#nav_txt ul li a:active {
	color: #6572D6;
}

#outer_wrapper {
	border: 1px solid transparent
	background: #fff url(backgrou_l.gif) repeat-y left;
}


/*
#wrapper {
	background: url(backgrou_r.gif) repeat-y right;
}
*/


#container {
	width: 100%;
	float: left;
	background: url(backgrou_l.gif) repeat-y left;
}

#content {border: 
	background: url(backgrou_l.gif) repeat-y left;
}

#main {
	text-align: justify;
	overflow: visible;
	margin-left: 280px;
	font-weight: bold;
	/* color: #003300; */
	font-size: 13px;




color: #000000;
}
#main a {
	color: #006600;
	font-weight: bold;
}
#main a:visited {
	color: #5B5A5A;
}
#main a:hover {
	color: #00AA00;
}
#main a:active {
	color: #6572D6;
}

#left { 
	width: 276px;
	float: left;
}

#footer {
	font-weight: bold;
	color: white;
	text-align: center;
	/* height: 82px; */
	font-size: 10px;

	border-top: 2px solid #003300;
	border-bottom: 0px solid #003300;
	margin: 1px 1px 1px 1px;


/*
	padding: 5px 0 10px 0; 
	height: 100%;
	border: 1px solid #00008f;
*/
}







}
#footer a {
	text-decoration: none;
	color: white;
}
#footer a:visited {
	color: white;
	text-decoration: none;
}
#footer a:hover {
	color: white;
	background-color: #003300;
	text-decoration: none;
}
#footer a:active {
	color: white;
	text-decoration: none;
}



.clearing {
	height: 0;
	clear: both;
}


.blocktitle {
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.titleleft {
	background: #003300 url(u2.gif) right top no-repeat;
	padding-left: 3px;
}
.titleright {
	background: #003300 url(u1.gif) left top no-repeat;
	padding-right: 3px;
	text-align: right;
}

.block {
	background: #006600;
	padding: 1px 0 1px 0; 
}

.blockleft {
	border-right: 1px solid #003300;
}

.blockright {
	border-left: 1px solid #003300;
}

.block ul li a {
	border-top: 1px solid #003300;
	border-bottom: 1px solid #003300;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	border-bottom: 0;
	padding: 2px;
}
.block ul li a:visited {
	color: #D7CBCB;
}

.block ul li a:hover {
	color: white;
	background-color: #00AA00;
	padding: 2px;
	text-decoration: none;
}
.block ul li a:active {
	color: #6572D6;
}


#above a:link {
	color: #ffffff;
	background-color: #006600;
   	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	border-bottom: 0;
	padding: 2px;
    border-top: 1px solid #003300; 
	border-bottom: 1px solid #003300;
    
}

#above a:visited {
	color: #d7cbcb;
}





#current_ok {
	color: #9A9797;
	background-color: #E7ECF5;
    font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 0;
	padding: 2px;
    border-top: 1px solid #003300;
}






.blockfooter {
	padding: 0 3px 0 0;
	margin: 0;
	margin-bottom: 5px;
	font-size: 9px;
	color: #D7CBCB;
	text-decoration: none;
}
.blockfooter a {
	color: #D7CBCB;
	text-decoration: none;
}
.blockfooter a:visited {
	color: #D7CBCB;
	text-decoration: none;
}
.blockfooter a:hover {
	color: #D7CBCB;
	text-decoration: underline;
}
.blockfooter a:active {
	color: #D7CBCB;
	text-decoration: none;
}

 
.blockfl {
	background: #003300 url(u4.gif) no-repeat 100%;
	font-size: 9px;
}

.blockfr {
	background: #003300 url(u3.gif) left bottom no-repeat;
}


.roundblock .inroundblock {
	background: #006600;
	border-right: 1px solid #003300;
	border-left: 1px solid #003300;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.roundtop { 
	background: #003300 url(u2.gif) no-repeat top right; 
	color: white;
	font-weight: bold;
	font-size: 13px;
}


img.corner {
	width: 12px;
	height: 12px;
	border: none;
	float: left;
}

.rbl {
	float: left;
	width: 100%;
	background-color: #003300;
	color: white;
	font-size: 10px;
	background: #003300 url(u4.gif) no-repeat top right; 
}
.rbl a {
	text-decoration: none;
	color: white;
}
.rbl a:visited {
	text-decoration: none;
	color: white;
}
.rbl a:hover {
	text-decoration: underline;
	color: white;
}
.rbl a:active {
	text-decoration: none;
	color: white;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.img {
	border: white 1px solid;
	margin: 3px;
}
img.corner {
	width: 12px;
	height: 12px;
	border: none;
	float: left;
}
.a big  {
	width: 10%;
	height: 11%;
	border: none;
	float: center;
	padding: 0px;
	margin: 0px;
}

.hl {
	padding: 1px 1px 1px 3px;
	font-weight: bold;
	color: white;
	text-align: left;
	font-size: 11px;
}
.hl a {
	text-decoration: none;
	color: white;
}
.hl a:visited {
	color: #8B8C90;
}
.hl a:hover {
	color: #00AA00;
}
.hl a:active {
	color: #6572D6;
}
.block ul li span {
	display: block;
	border-bottom: 0;
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	color: white;
	padding: 2px;
	background-color: #D1D8DE;
	border-top: 1px solid #003300;
	border-bottom: 1px solid #003300;
}

.text {
	width: 98%;
}


.inroundblock2 {
	background: #dddddd;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	padding: 0px;
}

.inroundblock3 {
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 5px;
}

.inroundblock3 ul {
	padding: 0;
	margin: 0 0 0 20px;
}
i{
padding-left:0;
padding-right:0;
font-size:80%;
}

H1 {
	margin: 0;
	padding:  5px;
	color: #069606;
	font-size: 16px;
	/* height: 19px; */
	text-align: center;
text-shadow: black 1px 1px 1px, #006600 0 0 2em;
}
H2 {	margin: 0;	padding:  5px;	color: #006600;	font-size: 15px; /*height: 19px; */ text-align: center;	}
H3 {	margin: 0;	padding:  5px;	font-size: 14px;	/* height: 18px; */	text-align: center;	}
H4 {	margin: 0;	padding:  5px;	color: #006600;	/* height: 17px; */		text-align: center;	box-shadow: 0 0 10px rgba(0,0,0,0.5);	text-shadow: black 1px 1px 0px, #006600 0 0 1em;	}
H5 {	margin: 0;	padding:  5px;	text-align: center;	/* height: 17px; */	}
H6 {	margin: 0;	padding:  5px;	font-size: 12px; 	text-align: center; box-shadow: 0 0 8px rgba(0,0,0,0.2); text-shadow: #ffb2b2 1px 1px 0px, #e15991 0 0 2em;}


.div_oform__3 {
	float: left;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 7px 2px;
   	width: 31%;
	height: 687px;
	font-size: 11px;
	border-top: 2px solid #003300;
	border-bottom: 2px solid #003300;
	border-right: 1px solid #003300;
	border-left: 1px solid #003300;
}

.div_oform_in__3 {
	border-top: 1px solid #003300;
}

.div_oform_title__3 {
	margin-bottom: 17px;
    border-top: 2px solid #003300;
	border-bottom: 2px solid #003300;
	border-right: 1px solid #003300;
	border-left: 1px solid #003300;
	font-size: 12px;
	text-align: center;	
	background-color: #DEE5E8;
}

.div_oform_under___3 {
	float: bottom;

}







.div_oform__1 {
	float: left;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 7px 2px;
   	width: 97%;
	font-size: 11px;
	border-top: 2px solid #003300;
	border-bottom: 2px solid #003300;
	border-right: 1px solid #003300;
	border-left: 1px solid #003300;
}

.div_oform_in__1 {
	border-top: 1px solid #003300;
}

.div_oform_title__1 {
	margin-bottom: 17px;
    border-top: 2px solid #003300;
	border-bottom: 2px solid #003300;
	border-right: 1px solid #003300;
	border-left: 1px solid #003300;
	font-size: 12px;
	text-align: center;	
	background-color: #DEE5E8;
}

.div_oform_under__1 {
	position: absolute;
 	left: 5px;
	bottom: 30px;
}

#NN { 
	position: absolute;
	left: 80px;
	 top: 300px;
}
#NN_R { 
	position: absolute;
	float: center;
	Right: 5px;
	bottom: 5px;
}




#N_Left { 
	position: relative;
	float: Left;
 	bottom: -3px;
  width:280px;
}

#N_Left a {
	text-decoration: none;
	color: #000000;
}
#N_Left a:visited {
	color: #000000;
	text-decoration: none;
}
#N_Left a:hover {
	color: #000000;
	text-decoration: none;
}
#N_Left a:active {
	color: #000000;
	text-decoration: none;
}



#N_Right { 
	position: relative;
	float: Right;
    bottom: -3px;
    width:215px;
}
#N_Right a {
	text-decoration: none;
	color: #000000;
}
#N_Right a:visited {
	color: #000000;
	text-decoration: none;
}
#N_Right a:hover {
	color: #000000;
	text-decoration: none;
}
#N_Right a:active {
	color: #000000;
	text-decoration: none;
}

#error {
	width: 50%;
    	margin-top: 12px;
	text-align: center;
	overflow:  visible;
	font-weight: bold;
	color: #999999;
	background-color: white;
	font-size: 100pt;
	border: ridge;
}

#error_posting {
	text-align: justify;
	font-weight: bold;
	color: #E0D4D4;
	font-size: 13px;	
	padding: 8px;
}

#error_posting_top {
	text-align: center;	
	font-weight: bold;
	color: #E0D4D4;
	font-size: 11px;	
	padding: 8px;
	margin: 3px;
    border: dashed;
}

#border_primer {
text-align: Left;
text-indent: 10px;
margin: 15px;
padding: 5px;
border-color:#d9e0da;
border-style: groove;
background:#d9e0da;
}


#box_apache {
position:absolute;
top: 1px;
right: 18px;
}

#box_rotaban_ru {
position:absolute;
top: 17px;
right: 418px;
}





#box_script {
float: right;
width: 43%;
margin: 8px;
padding: 8px;
/*
margin-top: 12px;
margin-left: 8px;
margin-bottom: 0px;
margin-right: 0 px;
padding-top: 12px;
padding-right: 0 px;
padding-left: 8px; */

border-color:#d9e0da;
border-style: groove;
background:#edf3ee;
box-shadow: 0 0 10px rgba(0,0,0,0.5);

	}

.errors {
	background: #ffe0d7;
	border: 1px #e06641 solid;
	padding: 5px;
	max-width: 413px;
}

.errors p {
	color: #000;
	font-size: 13px;
}
   








/* @media 1152 */ 
@media (max-width: 1199px) and (min-width: 1151px) 
{  
#border_text2 img { /* 1152 делаю с учетом отступа параграфа, перебивает прямые свойства самой картинки */ max-width: 670px; height:auto!important;-ms-interpolation-mode:bicubic;}
body {margin: 8px;}
#border777 { margin-bottom: -12px; margin-left: 3px; margin-right: 3px; margin-top: -1px; padding-left: 2px;
padding-right: 2px; }


/* @media 1152 */ 
}




/* @media 1024*/ 
@media (max-width: 1150px) and (min-width: 1023px) 
{  
#border_text2 img { /* при 1024  выглядит */ max-width: 560px; height:auto!important;-ms-interpolation-mode:bicubic;}

body {margin: 1px;}
p {margin-bottom: 0px;}
.rbl {font-size: 10px; text-align: center;border-radius: 12px;}
#border777 { margin-bottom: -12px; margin-left: 1px; margin-right: 1px; margin-top: 1px; padding-left: 1px;
padding-right: 1px; }

/* @media 1024*/ 
}




/* @media 800 здесь пока с меню левым */ 
/* в связи с убираением правого меню - max-width: 325px; */
@media (max-width: 1022px) and (min-width: 799px)
{ 
#border_text2 img { /* при 800 ширина */ max-width: 525px; height:auto!important;-ms-interpolation-mode:bicubic;}
.blockleft img { /* при 800 ширина */ max-width: 225px; height:auto!important;-ms-interpolation-mode:bicubic;}


body {margin: 0px;}
p {margin-bottom: 0px;}
.rbl {font-size: 10px; text-align: center;border-radius: 12px;}
#border777 { margin-bottom: -12px; margin-left: 0px; margin-right: 0px; margin-top: 1px; padding-left: 1px; padding-right: 1px; }

textarea { font-size: 10px;}


#left { width: 230px;}
#main { margin-left: 236px;}
.rbl {font-size: 10px; text-align: center;}
#nav_txt ul li a {padding: 0px;}
#nav_txt{font-size: 12px;}

/* @media 800 */ 
}












/* @media менее 799 */ 
@media (max-width: 798px) 
{ 
#border_text2 img { /* при 798 ширина */ max-width: 380px; height:auto!important;-ms-interpolation-mode:bicubic;}

#box_apache img { /* при 798 ширина */ max-width: 380px; height:auto!important;-ms-interpolation-mode:bicubic;}
#header { height: 42px;}


body {margin: 0px;}
/* #header {background: url(/images/logotype/logo-799.jpg) no-repeat;} */
p {margin-bottom: 0px;}
.rbl {font-size: 10px; text-align: center; border-radius: 12px;}
#border777 { margin-bottom: -12px; margin-left: 0px; margin-right: 0px; margin-top: 1px; padding-left: 1px; padding-right: 1px; }
#border777 {float:none;width:auto;}
/* #border777 {display:none;} */

#border777 { 
/* position: relative; */
/* display: block; */
}

table { 
/* display:  table  ;*/
 }

textarea { font-size: 10px;}

#nav_txt ul li a {padding: 0px;}
#nav_txt{font-size: 10px;}

.style101 {display:none;}


.block ul li a {padding: 7px;}
#nav_txt li, .block li { /* display: block; */}
#nav_txt {height: 100%;}





#content {display:table;}
#content {float:none;width:auto; margin:3px;}
#left {display:table-footer-group;}
#left {float:none;width:auto;padding-left:3px;margin:3px;}
#main {display:table-header-group;}
#main {float:none;width:auto; margin:3px;}



/* @media менее 799 */ 
}