/* style 5*/
.rereg-inner-table { font:normal 12px Arial, Helvetica, sans-serif; }
.rereg-inner-table th { padding-bottom:4px; font-weight:bold; color:#074f1d; border-bottom:1px solid #99bfa4;}
.rereg-inner-table td { padding:2px 9px 2px 9px;}
.rereg-inner-table .cart { font-size:10px;}
.rereg-inner-table .rereg-row-odd td { background-color:#e2ffeb;}
